<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <title>SMILE Plug - Access Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    

    
<link rel="stylesheet" href="assets/css/smile-access-panel.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.css"/>
    <![endif]-->

    
    <script id='about-template' type='text/template'>
	<div class="main-content">
	    <div class="breadcrumbs" id="breadcrumbs">
	        <ul class="breadcrumb">
	        </ul>
	        <!--.breadcrumb-->
	    </div>
	    <div class="page-content">
	        <div class="page-header position-relative">
	            <h1>
	                About
	            </h1>
	        </div>
	        <!--/.page-header-->
	
	        <div class="row-fluid">
	            <div class="span12">
	                <!--PAGE CONTENT BEGINS-->
	
	                <div class="field-item even" property="content:encoded">
	                    <div class="alert alert-block alert-danger">
	
	                        <i class="icon-warning-sign red"></i>
	
	                        <strong class="red">
	                            Beta Notice:
	                        </strong>
	                        We are still actively working on the development of the SMILE Plug. The first user to access either SMILE Global or the Khan Academy for the first time after the SMILE Plug has been powered on may need to wait up to 60 seconds until the app has loaded on the server. Please report any issues to nfreedman@smilec.org.
	                    </div>
	                    <p><span style="font-size: 1.231em; font-weight: bold; line-height: 1.538em;">SMILE Plug</span></p>
	                    <p>The SMILE Plug is a low-cost hardware solution that allows instructors to create a private micro-cloud for up to 60 users. SMILE Plug creates a portable Wi-Fi access point, gateway, and content server with which users can access SMILE Global from any device. The SMILE Plug also serves static content that can be plugged in via SD card or USB. The SMILE Plug serves the Stanford Mobile Inquiry-Based Learning Environment (SMILE) software, in addition to other available open education resources. </p>
	                    <p>Several Open-Source packages are sourced from the RACHEL-Pi: <a href="http://pi.worldpossible.org/">http://pi.worldpossible.org/</a>.</p>
	                    <div>&nbsp;</div>
	                    <p><span style="font-size: 1.231em; font-weight: bold; line-height: 1.538em;">Seeds of Empowerment</span></p>
	                    <p>The Smile Plug package is configured by Seeds of Empowerment. Seeds of Empowerment is a global non-profit 501(c)(3) organization committed to bring empowerment through education. Building upon both innovative mobile technology and educational research from Stanford University, SoE emerged in 2009 as a catalytic force to reach remote populations worldwide through mobile learning.</p>
	                    <p>The SoE team partners with local underserved communities around the world to improve access and quality of education, to amplify and augment learning programs where they exist, and to create new opportunities for learning where traditional education systems are lacking or non-existent.</p>
	
	                    <div>&nbsp;</div>
	                </div>
	            </div>
	            <!--/.page-content-->
	        </div>
	        <!--/.main-content-->
	    </div>
	    <!--/.main-container-->
	</div>
</script>
<script id='home-template' type='text/template'>
	<div class="main-content">
	    <div class="breadcrumbs" id="breadcrumbs">
	        <ul class="breadcrumb">
	        </ul><!--.breadcrumb-->
	    </div>
	    <div class="page-content">
	        <div class="page-header position-relative">
	            <h1>
	                Applications
	            </h1>
	        </div>
	        <!--/.page-header-->
	
	        <div class="row-fluid">
	            <div class="span12">
	                <!--PAGE CONTENT BEGINS-->
	                <% if (showWelcomeMsg) { %>
	                <div class="alert alert-block alert-success">
	
	                    <i class="icon-ok green"></i>
	
	                    Welcome to
	                    <strong class="green">
	                        SMILE Plug
	                        <small>(v1)</small>
	                    </strong>
	                    ,
	                    the portable learning cloud.
	                </div>
	                <% } %>
	
	                <div class="row-fluid">
	                    <% _.each(apps, function(app) { %>
	                    <div class="span4 resource">
	                        <div class="resource-img">
	                            <a href="<% if (app.hash) { %>#<%= app.hash %><% } else { %>#<% } %>"><img src="<%= app.image %>" data-app-id="<%= app.id %>" /></a>
	                        </div>
	                        <p class="resource-description"><%= app.description %></p>
	                        <p class="align-right"><a class="btn-bootstrap resource-btn" data-app-id="<%= app.id %>" href="<% if (app.hash) { %>#<%= app.hash %><% } else { %>#<% } %>">Enter »</a></p>
	                    </div>
	                    <% }); %>
	                </div>
	            </div>
	            <!--/.page-content-->
	        </div>
	        <!--/.main-content-->
	    </div>
	    <!--/.main-container-->
	</div>
</script>
<script id='loadingModal-template' type='text/template'>
	<div class="modal-container">
	    <div class="modal-content">
	        <div class="bootbox modal fade in" tabindex="-1" style="overflow:hidden;" aria-hidden="false">
	            <div class="modal-header"><a href="javascript:;" class="close"></a><h3>Please wait</h3></div>
	            <div class="modal-body"><h3><i class="icon-spinner icon-spin orange bigger-125"></i>
	                <%= msg %></h3></div>
	            <div class="modal-footer"><a data-handler="1" class="btn btn-primary close" href="javascript:$('#menu-overlay').html('');">OK</a></div>
	        </div>
	    </div>
	    <div class="modal-bg"></div>
	</div>
	
</script>
<script id='login-template' type='text/template'>
	<div class="main-container container-fluid">
	<div class="main-content">
	<div class="row-fluid">
	<div class="span12">
	<div class="login-container">
	<div class="row-fluid">
	    <div class="center">
	        <h1>
	            <i class="icon-leaf green"></i>
	            <span class="red">Ace</span>
	            <span class="white">Application</span>
	        </h1>
	        <h4 class="blue">&copy; Company Name</h4>
	    </div>
	</div>
	
	<div class="space-6"></div>
	
	<div class="row-fluid">
	<div class="position-relative">
	<div id="login-box" class="login-box visible widget-box no-border">
	    <div class="widget-body">
	        <div class="widget-main">
	            <h4 class="header blue lighter bigger">
	                <i class="icon-coffee green"></i>
	                Please Enter Your Information
	            </h4>
	
	            <div class="space-6"></div>
	
	            <form>
	                <fieldset>
	                    <label>
																<span class="block input-icon input-icon-right">
																	<input type="text" class="span12"
	                                                                       placeholder="Username"/>
																	<i class="icon-user"></i>
																</span>
	                    </label>
	
	                    <label>
																<span class="block input-icon input-icon-right">
																	<input type="password" class="span12"
	                                                                       placeholder="Password"/>
																	<i class="icon-lock"></i>
																</span>
	                    </label>
	
	                    <div class="space"></div>
	
	                    <div class="clearfix">
	                        <label class="inline">
	                            <input type="checkbox" class="ace"/>
	                            <span class="lbl"> Remember Me</span>
	                        </label>
	
	                        <button onclick="return false;" class="width-35 pull-right btn btn-small btn-primary">
	                            <i class="icon-key"></i>
	                            Login
	                        </button>
	                    </div>
	
	                    <div class="space-4"></div>
	                </fieldset>
	            </form>
	
	            <div class="social-or-login center">
	                <span class="bigger-110">Or Login Using</span>
	            </div>
	
	            <div class="social-login center">
	                <a class="btn btn-primary">
	                    <i class="icon-facebook"></i>
	                </a>
	
	                <a class="btn btn-info">
	                    <i class="icon-twitter"></i>
	                </a>
	
	                <a class="btn btn-danger">
	                    <i class="icon-google-plus"></i>
	                </a>
	            </div>
	        </div>
	        <!--/widget-main-->
	
	        <div class="toolbar clearfix">
	            <div>
	                <a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
	                    <i class="icon-arrow-left"></i>
	                    I forgot my password
	                </a>
	            </div>
	
	            <div>
	                <a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">
	                    I want to register
	                    <i class="icon-arrow-right"></i>
	                </a>
	            </div>
	        </div>
	    </div>
	    <!--/widget-body-->
	</div>
	<!--/login-box-->
	
	<div id="forgot-box" class="forgot-box widget-box no-border">
	    <div class="widget-body">
	        <div class="widget-main">
	            <h4 class="header red lighter bigger">
	                <i class="icon-key"></i>
	                Retrieve Password
	            </h4>
	
	            <div class="space-6"></div>
	            <p>
	                Enter your email and to receive instructions
	            </p>
	
	            <form>
	                <fieldset>
	                    <label>
																<span class="block input-icon input-icon-right">
																	<input type="email" class="span12" placeholder="Email"/>
																	<i class="icon-envelope"></i>
																</span>
	                    </label>
	
	                    <div class="clearfix">
	                        <button onclick="return false;" class="width-35 pull-right btn btn-small btn-danger">
	                            <i class="icon-lightbulb"></i>
	                            Send Me!
	                        </button>
	                    </div>
	                </fieldset>
	            </form>
	        </div>
	        <!--/widget-main-->
	
	        <div class="toolbar center">
	            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
	                Back to login
	                <i class="icon-arrow-right"></i>
	            </a>
	        </div>
	    </div>
	    <!--/widget-body-->
	</div>
	<!--/forgot-box-->
	
	<div id="signup-box" class="signup-box widget-box no-border">
	    <div class="widget-body">
	        <div class="widget-main">
	            <h4 class="header green lighter bigger">
	                <i class="icon-group blue"></i>
	                New User Registration
	            </h4>
	
	            <div class="space-6"></div>
	            <p> Enter your details to begin: </p>
	
	            <form>
	                <fieldset>
	                    <label>
																<span class="block input-icon input-icon-right">
																	<input type="email" class="span12" placeholder="Email"/>
																	<i class="icon-envelope"></i>
																</span>
	                    </label>
	
	                    <label>
																<span class="block input-icon input-icon-right">
																	<input type="text" class="span12"
	                                                                       placeholder="Username"/>
																	<i class="icon-user"></i>
																</span>
	                    </label>
	
	                    <label>
																<span class="block input-icon input-icon-right">
																	<input type="password" class="span12"
	                                                                       placeholder="Password"/>
																	<i class="icon-lock"></i>
																</span>
	                    </label>
	
	                    <label>
																<span class="block input-icon input-icon-right">
																	<input type="password" class="span12"
	                                                                       placeholder="Repeat password"/>
																	<i class="icon-retweet"></i>
																</span>
	                    </label>
	
	                    <label>
	                        <input type="checkbox" class="ace"/>
																<span class="lbl">
																	I accept the
																	<a href="#">User Agreement</a>
																</span>
	                    </label>
	
	                    <div class="space-24"></div>
	
	                    <div class="clearfix">
	                        <button type="reset" class="width-30 pull-left btn btn-small">
	                            <i class="icon-refresh"></i>
	                            Reset
	                        </button>
	
	                        <button onclick="return false;" class="width-65 pull-right btn btn-small btn-success">
	                            Register
	                            <i class="icon-arrow-right icon-on-right"></i>
	                        </button>
	                    </div>
	                </fieldset>
	            </form>
	        </div>
	
	        <div class="toolbar center">
	            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
	                <i class="icon-arrow-left"></i>
	                Back to login
	            </a>
	        </div>
	    </div>
	    <!--/widget-body-->
	</div>
	<!--/signup-box-->
	</div>
	<!--/position-relative-->
	</div>
	</div>
	</div>
	<!--/.span-->
	</div>
	<!--/.row-fluid-->
	</div>
	</div><!--/.main-container-->
</script>
<script id='navbar-template' type='text/template'>
	<div class="navbar" id="navbar">
	    <div class="navbar-inner">
	        <div class="container-fluid">
	            <a href="#" class="brand smile-logo">
	                <span class="smile-admin-logo"></span>
	                <small>
	                    <div class="logo-subtext"><%= subtext %></div>
	                </small>
	            </a><!--/.brand-->
	           <div id="loginBox">
	
	           </div>
	        </div>
	        <!--/.container-fluid-->
	    </div>
	    <!--/.navbar-inner-->
	</div>
</script>
<script id='sidebar-template' type='text/template'>
	<a class="menu-toggler" id="menu-toggler" href="#">
	    <span class="menu-text"></span>
	</a>
	<div class="sidebar" id="sidebar">
	    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
	        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
	        </div>
	
	        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
	            <span class="btn btn-success"></span>
	    </div>
	    </div><!--#sidebar-shortcuts-->
	    <ul class="nav nav-list">
	        <li class="home">
	            <a href="#home">
	                <i class="icon-th"></i>
	                <span class="menu-text"> Applications </span>
	            </a>
	        </li>
	
	        <li class="usb">
	            <a href="#usb">
	                <i class="icon-list-alt"></i>
	                <span class="menu-text"> USB Files </span>
	            </a>
	        </li>
	
	        <li class="about">
	            <a href="#about">
	                <i class="icon-info-sign"></i>
	                <span class="menu-text"> About </span>
	            </a>
	        </li>
	    </ul>
	    <!--/.nav-list-->
	</div>
</script>
<script id='usb-template' type='text/template'>
	<div class="main-content">
	    <div class="breadcrumbs" id="breadcrumbs">
	        <ul class="breadcrumb">
	        </ul>
	        <!--.breadcrumb-->
	    </div>
	    <div class="page-content">
	        <div class="page-header position-relative">
	            <h1>
	                USB Sharing Files
	            </h1>
	        </div>
	        <!--/.page-header-->
	
	        <div class="row-fluid">
	            <div class="span12">
	                <!--PAGE CONTENT BEGINS-->
	
	                <button class="btn btn-app btn-warning" id="storage1-btn">
	                    <div class="file-logo-white logo"></div>
	                    Storage 1
	                </button>
	                <button class="btn btn-app btn-warning" id="storage2-btn">
	                    <div class="file-logo-white logo"></div>
	                    Storage 2
	                </button>
	               <!-- <div class="widget-box transparent" id="recent-box">
	                    <div class="widget-header">
	                        <h4 class="lighter smaller">
	                            <i class="icon-list-alt orange"></i>
	                            Select USB Drive (In Order of Insertion):
	                        </h4>
	
	                        <div class="widget-toolbar no-border">
	                            <ul class="nav nav-tabs" id="recent-tab">
	                                <li>
	                                    <a data-toggle="tab" id="storage1-btn" class="nav-tabs-li active" href="#usb">First USB</a>
	                                </li>
	
	                                <li>
	                                    <a data-toggle="tab" id="storage2-btn" class="nav-tabs-li" href="#usb">Second USB</a>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	
	                    <div class="widget-body">
	                        <div class="widget-main padding-4">
	                            <div class="tab-content padding-8 overflow-visible">
	                                <div id="storage1-tab" class="tab-pane active">
	                                    <iframe src="/plug/src/storage1">
	
	                                    </iframe>
	                                </div>
	
	                                <div id="storage2-tab" class="tab-pane">
	                                    <iframe src="/plug/src/storage2">
	
	                                    </iframe>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!--/widget-box-->
	            </div>
	            <!--/.page-content-->
	        </div>
	        <!--/.main-content-->
	    </div>
	    <!--/.main-container-->
	</div>
</script>

    
    
<script src='js/smile_access.min.js'></script>

</head>

<body ontouchstart="">
<div id="viewport">
    <div id="app-container">
        <div id="app-header"></div>
        <div id="app-msg"></div>
        <div id="app-sidebar"></div>
        <div id="app-content"></div>
    </div>
    <div id="menu-overlay"></div>
    <div id="menu-container"></div>
</div>
</body>
</html>
